html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #fff;
}

.intro {
    display: grid;
    place-items: center;
    text-align: center;
}
h1 {
    margin: 1em 0 0;
    color: #3f51b5;
    font-size: 3.2rem;
}